<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>User</ion-title>
      <ion-text>{{userName$ | async}}</ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"
    ><ion-button (click)="logout()">Logout</ion-button></ion-content
  >
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Max Weight </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <app-max-weight-container></app-max-weight-container>
</ion-content>
