<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Max Weight</ion-title>
    <ion-buttons (click)="closeModal()" slot="end">
      <ion-button [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-select
          formControlName="muscleGroup"
          interface="action-sheet"
          label="Muscle group"
          placeholder="Select muscle group"
        >
          <ion-select-option
            *ngFor="let muscleGroup of MUSCLE_GROUPS | keyvalue"
            [value]="muscleGroup.key"
          >
            {{ muscleGroup.value }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          formControlName="exercise"
          interface="action-sheet"
          label="Exercise type"
          placeholder="Select exercise type"
        >
          <ion-select-option
            *ngFor="let muscleGroup of exercises$ | async"
            [value]="muscleGroup.value"
          >
            {{ muscleGroup.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="maxWeight"
          label="Enter weight"
          labelPlacement="stacked"
          type="number"
          placeholder="Weight in KG"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="reps"
          label="Enter reps"
          labelPlacement="stacked"
          type="number"
          placeholder="Reps"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="info"
          label="Enter extra info"
          labelPlacement="stacked"
          type="text"
          placeholder="Info"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
