<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ exercise?.name }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="exercise">
    <img
      *ngIf="!imageIsLoaded"
      class="loading-image"
      src="assets/loading.gif"
    />
    <ion-img
      [src]="exercise?.imageUrl"
      (ionImgDidLoad)="imageLoaded()"
    ></ion-img>

    <div class="max-weight" *ngIf="maxWeight$ | async as maxWeight">
      <ion-label>
        <h1>Max Weight: {{ maxWeight.maxWeight }} KG</h1>
        <h1 *ngIf="maxWeight.info">Description: {{ maxWeight.info }}</h1>
      </ion-label>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onAddClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
